.imageEditor{
  width: 100%;
  .commandBar{
    display: block;
  }
  .imageplaceholder{
    position: relative;
  }
  .canvasmaxwidth{
    max-width: 100%;
  }
}
.iconbtn {
  min-width: 32px;
  width: 32px;
  padding: 10px 2px;
  margin-right: 3px;
  height: 50px;
  &>div{
    display: inline-block;
  }
  .imgtext{
    display: block;
  }
  .imgicon{
    display: block;
  }

}
